@{
    ViewBag.Title = "About";
}

<div class="container">


    <div class="row about">
        <div class="col-md-4">


        </div>
        <div class="col-md-4">
            <h2>About SugaBakes</h2>
        </div>
        <div class="col-md-4">

        </div>

    </div>

    <div class="row">
        <div class="col-md-4">

            <p>Curabitur blandit nisl quis dictum molestie. Integer ac enim hendrerit risus finibus pharetra. Proin ac nibh vitae justo viverra blandit a ac lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas in mattis magna. Curabitur rhoncus ac eros a sagittis. Vestibulum quis risus vestibulum, efficitur libero non, aliquet nisi. Aenean sollicitudin non felis quis dignissim. Suspendisse eu lacus ullamcorper, mattis neque quis, vestibulum nisl. Nullam condimentum justo eu risus lobortis, convallis posuere velit placerat. Praesent cursus diam id ullamcorper aliquam. Curabitur tincidunt nisi in elit vulputate, vitae cursus nulla pulvinar. Vivamus at convallis sem. Donec scelerisque ex ut odio viverra sollicitudin</p>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
    </div>

</div>